@import './base.css';

body {
  font-family: 'Poppins', 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  background-color: #f5f7fb;
  margin: 0;
  padding: 0;
}
.black {
  color: #000;
}
.grey {
  color: #c7c7c7;
}
.main50 {
  color: #8bddcd;
}
.darkBg {
  background-color: #121933;
}
.darkGrey {
  background-color: #495270;
}
.main {
  color: #249781;
}
.darkLight {
  background-color: #172f53;
}
.red {
  color: #ff313d;
}
.main20 {
  color: #daf6f1;
}
.orange {
  color: #ffa141;
}
.blue {
  color: #00a3b8;
}

@media (min-width: 1024px) {
  html {
    width: 500px;
    display: flex;
    place-items: center;
  }
  .nav-bar {
    width: 500px !important;
  }
}
